:root{
    /* CSS HEX */
    --Background: #FDD692;
    --MinBackground: #FCEBA6;
    --BackLight: #FBFFB9;
    --Top-Title: #EC7357;
    --Title: #754F44;
    --Main: #B1614E;
}
body {
    background-color: var(--Background);
    width: 30%;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
}

.section_div {
    background-color: var(--MinBackground);
    border-radius: 10px;
    border: 5px solid var(--Main);
}

.section_div:hover {
    background-color: var(--BackLight);
    transform: scale(1.02);
    border: 5px solid var(--Top-Title);
}

.square {
    list-style: square;
}

.circle {
    list-style: circle;
}

.my_table {
    margin-left: auto;
    margin-right: auto;
}

.text_main {
    color: var(--Main);
}

.text_title {
    color: var(--Title);
}

.text_top_title {
    color: var(--Top-Title);
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.my_list {
    display: table;
    margin: 0 auto;
    text-align: left;
}